* {
  padding: 0;
  margin: 0%;
  box-sizing: border-box;
}
body {
  font-family: "Montserrat", sans-serif;
  background-color: #ffff;
  width: 95vw;
  margin: 0 auto;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  margin-top: 7rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  gap: 3rem;
}
.link-setter {
  background-color: rgb(255, 255, 255);
  border-radius: 13px;
}

.link-setter img {
  width: 300px;
  height: 250px;
  margin-top: 1.5rem;
  object-fit: cover;
}
a {
  display: grid;
  place-items: center;
  text-decoration: none;
}
a p {
  font-size: 1.8rem;
  text-transform: capitalize;
  margin: 2rem 0 0.5rem 0;
  color: black;
}
.link-setter:hover {
  box-shadow: 2px 4px 6px 4px rgb(0, 0, 0, 0.2);
  transition: 0.3 ease-in-out all;
}
h1 {
  text-transform: capitalize;
  text-align: center;
  padding-top: 3rem;
}
